


body {
    margin: 0px;
    font-family: sans-serif;
}


#header {
    background: #0747a6;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 5%;
    font-size: min(2vw, 20px);
    color: white;
}
#header h2 {
    padding-left: 5%;
    width: fit-content;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.container {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

#table-header {
    background: #0747a6;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    font-family: sans-serif;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.table-header-buttons {
    margin: 10px 5px;
    padding: 1vw 2vw;
    border-radius: 5px;
}
.table-container {
    max-height: 345px;
    overflow-y: scroll;
    width: 100%;
}

#table-search-box {
    margin: 15px 5px;
    border-radius: 5px;
    float: right;
    width: 15vw;
}
#table-search-button {
    float: right;
    margin: 15px 5px;
    border-radius: 5px;
}

#to-do-table {
    width: 100%;
}
#to-do-table #button-column {
    width: 85px;
}
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: .5vw .5vw;
    font-family: sans-serif;
    font-size: 13px;
}
td,
button {
    border-style: solid;
    border-width: 1px;
}
th {
    font-size: 15px;
}

.hide {
    display: none;
}
.row-color {
    background-color: lightgreen;
}
.complete-button {
    background-color: green;
}
.edit-button {

}
.delete-button {
    background-color: red;
}

form {
    text-align: center;
    border-style: solid;
    border-width:1px;
    padding:15px 10px;
}

form input{
    margin:10px;
}