@model ToObjective.Models.Objective

@{
    ViewData["Title"] = "addNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>addNew</h1>

<h4>Objective</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- <form asp-action="Index"> -->
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="title-input-box" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="description-input-box" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompleteByDate" class="control-label"></label>
                <input id="complete-by-input-box" asp-for="CompleteByDate" class="form-control" />
                <span asp-validation-for="CompleteByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="create-button" type="Submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
