@model IEnumerable<Objective> // https://learn.microsoft.com/en-us/dotnet/api/system.collections.ienumerable?view=net-7.0 //
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div id="table-header">
        <!-- <a asp-area="" asp-controller="Objective" asp-action="addNew"> <button class="table-header-buttons" id="new-objective-button">New</button></a> -->
        <button class="table-header-buttons" id="new-objective-button" onclick="location.href='@Url.Action("addNew", "Objective")'">New</button> <!--https://www.youtube.com/watch?v=BnJ8UI-tI-E-->
        <input id="table-search-box" type="text" maxlength="40" placeholder="Search">
        </div>
        <div class="table-container">
                    @await Html.PartialAsync("_TableToDo",Model)
        </div>
    </div>

<script src="~/js/site.js" asp-append-version="true"></script>


