@model IEnumerable<Objective> // https://learn.microsoft.com/en-us/dotnet/api/system.collections.ienumerable?view=net-7.0 //
@{
    ViewData["Title"] = "Index";
}

    <div id="container">
        <div id="table-header">
            <button class="table-header-buttons" id="new-objective-button">New</button>
            <input id="table-search-box" type="text" maxlength="40" placeholder="Search">
        </div>
        <div class="table-container">
            <table id="to-do-table">
                <thead>
                    <tr>
                        <th>Title</th> 
                        <th>Description</th>
                        <th>Complete By</th>
                        <th id="button-column"> Action </th>
                    </tr>
                </thead>
                <tbody id="to-do-table-tbody">
                    @foreach(var obj in Model)
                    {
                    <tr>
                        <td>
                            @obj.Title
                        </td>
                        <td>
                            @obj.Description
                        </td>
                        <td>
                            @obj.CompleteByDate
                        </td>
                        <td>
                            <button>✔</button>
                            <button>✖</button>
                            <button>✎</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="reuseable-modal" class="hide">
        <div id="modal-content">
            <div id="modal-header">
                <h2>Modal <button type="button" id="modal-close-button">✖</button></h2> 
            </div>
            <form id="objective-maker-form">

                <label for="title-input-box">Title</label>
                <input id="title-input-box" type="text" maxlength="40">
                <label for="description-input-box">Description</label>
                <textarea name="none" id="description-input-box" cols="30" rows="10" maxlength="1000"></textarea>
                <label for="doby-input-box">Do By:</label>
                <input id="doby-input-box" type="date">

            </form>
            <button id="modal-cancel-button"> Cancel </button>
            <button id="modal-submit-button"> Done </button>
        </div>
    </div>

